<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		block title
			title #{title || 'gulp+webpack+express前端工程方案'}
		link(href="../css/public.css",rel="stylesheet")
		script(src="../js/common.js")
		script(src='../js/index.js')
		block styles
	block body
		body
			block main
		
	